@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}

@media all and (max-width: 991px)  {
    .sidebar .nav > li.active-pro{
        position: initial;
    }
}

.collapse .nav li > a {
    padding-left:60px;
}

.navbar-form .input-group-addon {
    border-radius: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    color: #E3E3E3;
    font-size: 16px;
    padding: 0 7px;
    border-radius: 4px 0 0 4px;
}

table .btn-simple.btn-icon {
    padding: 0;
    font-size: 20px;
}

table form {
    display: inline;
    padding-right: 5px;
}

.card .form-horizontal .form-group {
    margin: 0;
}
.card .header {
    padding: 15px 15px 0px;
    color: #333333;
    font-weight: 300;
    font-size: 22px;
}
.card .footer {
    padding: 0 15px 10px;
    background-color: transparent;
}